*{
    margin: 0%;
    padding: 0%
}

.main-header{
    background-color: black;
   color: aliceblue;
   height: 20px;   
}
.main-nav{
    height: 75px;
    background-color:black;
    color: white;
}
.sub-nav{
    height: 75px;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(69, 65, 65);
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
}

.sub-nav a{
    text-decoration: none;
    font-size: large;
    color: antiquewhite;
}
.sub-nav a:hover{
    color: green;
}
.sub-nav i{
    color: green;
    margin-left: 11px;
    margin-top: 0px;
}
.Register{
    height:70px;
    width:6%;
    padding-top: 48px;
    color: antiquewhite;
    font-size: large;
    padding-left: 19px;
   
}
.Register:hover{
    box-shadow:1px 1px 18px white;
}

.Pay{
    height: 38px;
    width: 73px;
    border: 2px solid wheat;
    border-radius: 100%;
    margin-left: 14px;
    padding-left: 27px;
    padding-top: 12px;
}


.Pay-drop   {
    position: absolute;
    width: 14%;
    height: 103%;
    margin-left: -99px;
    text-align: center;
    top: calc(100% + .25rem);
    background-color: black;
    border-radius: 50%;
    padding: 0.75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0,0,.1);
    opacity: 0;
    /* pointer-events: none;
    transform: translateY(-10px);
     transition: opacity 150ms ease-in-out,transform: 150ms ease-in-out;  ; */
}
.pay-link:focus  .Pay-drop {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.footer{
background-color: grey;
color: aliceblue;
height: 50px;
position: fixed;
left:0;
bottom: 40px;
width: 100%;
text-align: center;
padding-top: 10px;
}

.footer button{
    position: relative;
   border: none;
   background: rgb(15, 194, 75);
    color: #0a0a0a;
   border-radius: 50%;
   height: 40px;
   width: 40px;
   font-size: 25px; 
   /* padding-top: 25px; */
   padding-right: 3px;
   cursor: pointer;
   z-index: 2;
   
}
.footer i{
    padding-top: -20px;
}

#video{ 
    margin-top: 10px;
    margin-left: 200px;
    border: 2px solid rgb(35 192 163);
    width: 73%;
    max-width: 70%;
    height: 50%;
    align-items: center;
    box-shadow: -2px 1px 22px 29px rgb(12 191 36);
}